.recipes {
    color: orange;
    font-size: 20px;
    font-weight: bold;
    display: inline;
}

h1 {
    color: green;
    font-size: 40px;
    font-weight: 900;
}

h2 {
    color: green;
}

.content,
li {
    color: brown;
}

img {
    height: auto;
    width: 400;
}
.homepage {
    width: 100%;
}

.homepage-content {
    width: 200px;
    height: 200px;
    margin: auto;
}